$phone: 800px;
$tab: 1100px;
$sea1: #96c4de;
$sea2: #486591;
$sea3: #d6e6f3;

.sautiTitle {
  background-color: whitesmoke;
  padding-bottom: 5%;
  position: fixed;
  width: 100%;
  top: 0;
  height: 200px;
  @media (max-width: $tab) {
    height: 250px;
  }
  @media (max-width: $phone) {
    height: 200px;
  }
  .back {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding-top: 2%;

    .buttonDiv {
      width: 100px;
      padding-left: 2%;
    }
    h1 {
      position: relative;
      margin: auto;
      right: 50px;
      color: blue;
      font-size: 5rem;
      @media (max-width: $phone) {
        font-size: 2rem;
      }
    }
  }
  h2 {
    font-size: 1.2rem;
    @media (max-width: $phone) {
      font-size: 1rem;
    }
  }
  .link {
    display: flex;
    margin: auto;
    justify-content: center;

    a {
      margin: 0 5%;
    }
  }
}
.siteLink{
  h2{
    font-size:1.5rem
  }
}
.sautiBody {
  margin-top: 200px;

  @media (max-width: $tab) {
    margin-top: 250px;
  }
  @media (max-width: $phone) {
    margin-top: 200px;
  }
}
.sautiPhotos {
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  .sautiPic {
    width: 30%;
    height: 300px;
    margin: 2% 5%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.sautiCurrent {
  background-color: whitesmoke;
  padding: 3%;
  h1 {
    color: blue;
    font-size: 3rem;
    @media (max-width: $phone) {
      font-size: 2rem;
    }
  }
  p {
    width: 60%;
    margin: auto;
    font-size: 1.5rem;
    @media (max-width: $phone) {
      font-size: 1.2rem;
    }
  }
}
.sautiProblem {
  background-color: honeydew;
  padding: 3%;
  text-align: left;

  h1 {
    color: blue;
    font-size: 3rem;
    text-align: center;
    @media (max-width: $phone) {
      font-size: 2rem;
    }
  }
  li {
    width: 60%;
    margin: auto;
    font-size: 1.5rem;
    @media (max-width: $phone) {
      font-size: 1.2rem;
    }
  }
}
.sautiSolution {
  background-color: white;
  padding: 3%;
  text-align: left;
  h1 {
    color: blue;
    font-size: 3rem;
    text-align: center;
    @media (max-width: $phone) {
      font-size: 2rem;
    }
  }
  p {
    width: 60%;
    margin: auto;
    font-size: 1.5rem;
    @media (max-width: $phone) {
      font-size: 1.2rem;
    }
  }
}
.sautiTeam {
  background-color: wheat;
  padding: 3%;
  h1 {
    color: blue;
    font-size: 3rem;
    @media (max-width: $phone) {
      font-size: 2rem;
    }
  }
  p {
    width: 60%;
    margin: auto;
    font-size: 1.5rem;
    @media (max-width: $phone) {
      font-size: 1.2rem;
    }
  }
}
.sautiProcess {
  background-color: whitesmoke;
  padding: 3%;
  h1 {
    color: blue;
    font-size: 3rem;
  }
  ul {
    list-style-type: square;
  }
  li {
    width: 60%;
    text-align: left;
    margin: auto;
    font-size: 1.5rem;
    padding: 1%;
    @media (max-width: $phone) {
      font-size: 1.2rem;
    }
  }
}

.sautitech {
  background-color: snow;
  padding: 3%;
  h1 {
    color: blue;
    font-size: 3rem;
  }
  h3 {
    width: 60%;
    margin: auto;
    text-align: left;
    font-size: 1.5rem;
    padding: 1%;
    @media (max-width: $phone) {
      font-size: 1.2rem;
    }
  }
  .colorBlue {
    color: blue;
  }
  .techTitle {
    text-align: left;
  }
}
